<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Fumoland - Favoritos</title>
</head>
<body>
    <%- include('header') %>
    <p class="Cart_Title"></p>
    <div class="list_of_products">
        <!-- Como um produto sera estruturado -->
        <% for (product of products) { %>
            <div class="product">
                <a class="headerlink" href="/products/<%= product.name %>"> <img class="product_image" src="/imgs/<%= product.img_path %>" alt=""> </a>
                <a class="headerlink" href="/products/<%= product.name %>"> <div class="product_name"><%= product.name %></div></a>
                <div class="product_categories">
                    <% for (category of product.categories) { %>
                    <a class="headerlink" href="/categories/<%= category.name %>"> <div class="product_category"><%= category.name %></div> </a>
                    <% } %>
                </div>
                <div class="product_price">R$<%= product.price.toFixed(2) %></div>
            </div>
            <% } %>
    </div>
</body>
</html>