<!DOCTYPE html>

<html>

<head>
	<title>Fumoland</title>
	<link rel="stylesheet" href="/css/style.css">
	<script defer src="/js/script.js"></script>
</head>

<body>
	<%- include('header') %>
		<main>
			<div class="welcome">Bem vindo a nossa loja.</div>
			<div class="list_of_products">
				<!-- Como um produto sera estruturado -->
				<% if (products.lenght>= 2) { %>
					<% for( let index=0; index < 2; index++ ) { %>
						<div class="product">
							<img class="product_image" src="/imgs/<%= products[index].img_path %>" alt="">
							<div class="product_name">
								<%= products[index].name %>
							</div>
							<div class="product_categories">
								<div class="product_category">Test</div>
								<div class="product_category">Test</div>
							</div>

							<div class="product_price">R$<%= Number(products[index].price).toLocaleString('en') %>
							</div>
						</div>
						<% } %>
					<% } %>

			</div>
		</main>
		<%- include('create_user') %>
</body>

</html>