<!DOCTYPE html>
<!--
	Essa pagina também sera renderizado pelo ejs, portanto
	products será o array contendo os produtos, e funcionara como o product, porém sendo um array
	então vc acessara o primeiro elemento usando products[0].price
-->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<script defer src="/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fumoland - Produtos</title>
</head>

<body>
	<main>
		<%- include('header') %>
		<div class="list_of_products">
			<!-- Como um produto sera estruturado -->
			<% for (product of products) { %>
				<div class="product">
					<a class="headerlink" href="products/<%= product.name %>"> <img class="product_image" src="/imgs/<%= product.img_path %>" alt=""> </a>
					<a class="headerlink" href="products/<%= product.name %>"> <div class="product_name"><%= product.name %></div></a>
					<div class="product_categories">
						<% for (category of product.categories) { %>
						<a class="headerlink" href="categories/<%= category.name %>"> <div class="product_category"><%= category.name %></div> </a>
						<% } %>
					</div>
					<div class="product_price">R$<%= product.price %></div>
				</div>
				<% } %>

		</div>
	</main>
</body>

</html>