<!--
  o valor do produto é product.price
  o nome do produto é product.name
  a descrição do produto é product.desc
  se o usuário já deu like ou dislike nesse produto é rating
  o path da imagem é product.img_path
  o rating do produto é product.rating
  para inserir algum desses valores
  
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/product.css">
	<script defer src="/js/script.js"></script>
	<title>Fumoland - <%= product.name %>
	</title>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>
	<%- include('header') %>
		<main>
			<img src="/imgs/<%= product.img_path%>" alt="" class="product_image" id="product_image">
			<div class="product">
				<div class="product_name" id="product_name">
					<%= product.name %>
				</div>
				<div class="product_price" id="product_price">
					R$<%= product.price.toFixed(2) %>
				</div>
				<div class="product_desc" id="product_desc">
					<%= product.desc %>
				</div>
			</div>
			<div class="add_to_cart" onclick="addToCart()">
				Compre agora!!!!
			</div>
		</main>
</body>

</html>